{
  "presets": [
    "flow",
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "dynamic-import-node",
    ["module-resolver", {
      "root": ["./"],
        "alias": {
          "@": "./helpers",
          "externalServices": "./externalServices",
          "controllers": "./controllers",
          "stories": "./stories",
          "middlewares": "./middlewares",
          "db": "./database",
          "db/native": "./database/native",
          "fixtures": "./database/fixtures"
        }
      }
    ]
  ]
}
